body, html {
  margin: 0; padding: 0; height: 100%;
  background: #000814;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, monospace;
  color: #a8d8ff;
  user-select: none;
}

canvas#sonar {
  background: none;
  border-radius: 16px;
  box-shadow: 0 0 54px #11314499, 0 0 0 1px #034366;
  border: 3px solid #001d2a;
  display: block;
}
